.button {
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .05);
    border: none;
    color: lightgrey;
}

.clicked {
    background-color: #FF9B85;
    color: #FFF;
    font-weight: bold;
}

.btn-container {
    background-color: rgba(255, 255, 255, .05);
    border-radius: 10px;
   
}

.main-container{
    max-width: 200px;

}

.btn-label {
    cursor: pointer;
    color: lightgrey
}

.btn-label:hover {
    color: darkgray;
}

.label-clicked {
    font-weight: bold;
}