.song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.song-name {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
}

.artist-names {
    text-align: right;
    font-weight: 300;
    font-size: 16px;
}

.play-btn {
    border-radius: 15px;
    border: none;
    background-color: steelblue;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
}