.slider-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rec-button {
    padding: 10px;
    background-color: steelblue;
    color: #FFF;
    border-radius: 20px;
    border: none;

}

.rec-button:disabled {
    background-color: lightgrey;
}

.form-container {
    margin: 20px;
    margin-bottom: 50px
}