.song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.song-name {
    font-weight: 400;
    font-size: 20px;
}

.artist-names {
    font-weight: 300;
    font-size: 16px;
}

.play-btn {
    border-radius: 15px;
    border: none;
    background-color: #60d394;
    padding: 10px;

}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;

}

.song-description {
    text-align: left;
    width: 250px;
}

.song-list {
    width: 100%;
}

.bar-chart {
    height: 15px;
    background-color: #60d394;
    border-radius: 10px;
    color: #FFF;
    position: relative;
    left: 0px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
}

.song-stats {
    width: 50%;
    margin-right: 10px;
}

select {
    width: 200px;
    height: 50px;
    border-radius: 7px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);
    border: none;
    color: #FFF;
    margin: 10px;

}